
<div class="row">
  <h2>Your Comics</h2>
  <ul id="thumbnailsList">
    <li *ngFor="let image of images | async" class="img">
      <a [routerLink]="['/image', image.$key]">
        <img src="{{image.url}}" class="tn">
      </a>
    </li>
  </ul>
</div>

