.container {
  color: #111;
  margin-top: 12%;
  background-color: #fbfbfb;
  box-shadow: 1 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
  padding: 5%;
  border-radius: 3px;
}

h1.login-title{
  padding-bottom: 50px;
  font-family: "Cabin";
  font-size: 32px;
  color: #111;
  text-align: center;
}
button{
  height: 60px;
  margin-top: 20px;
  width: 100%;
}

input {
  font-size: 20px;
  line-height: 60px;
  height: 60px;
}
