.container {
  color: #111;
  margin-top: 12%;
  background-color: #fbfbfb;
  box-shadow: 1 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
  padding: 5%;
  border-radius: 3px;
  margin-top: 20px;
}

.heading{
  font-size: 24px;
  margin-bottom: 30px;
}

button{
  height: 40px;
  margin-top: 20px;
  width : 100%;;
}
