.main-content {
  padding-top: 60px;
  color: #333;
}

body {
  font-family: 'lato', sans-serif;
  color: #333;
  background-color: #eeeeee;
}

h1 h2 h3 h4 h5 {
  font-family: 'Cabin', sans-serif;
  color: #555555;
}
